.titlename{
    align-items: center;
}
.mat-form-field{
    width: 350px;
    // border-top: 0.1em solid;
    // border-right: 0.1em solid;
    // border-left:0.1em solid;
    
    
}
mat-card-title{
    text-align: center;

}
.main-dev{
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.forgotlinks{
    color: #1d439b;
    line-height: 1.5em;
    font-size: 11px;
}
.securityclass{
    padding:0%;
}
.mat-card{
    border: 0.5em solid #e1e7f5;
}