
  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <div class= "main-div">
      <mat-card fxFlex="400px" fxFlex.xs="100%">
          <mat-card-title align = 'center'>Sign Up</mat-card-title>
              <form [formGroup] = "profileForm" class = "form-container" autocomplete="off"  fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                  <mat-card-content>
                      <mat-form-field >
                          <input id="email" matInput type = "text" maxlength="60" placeholder="Email*" formControlName = "email">
                      </mat-form-field>
                      <mat-form-field >
                        <input id="username"  matInput type = "text" maxlength="60" placeholder="User Name*" formControlName = "username">
                    </mat-form-field>
                      <mat-form-field>
                          <input id="password" matInput type = "password" maxlength="60" placeholder="Password*" formControlName = "password">
                      </mat-form-field>
                      <div class = "securityclass">
                        <mat-form-field appearance="fill">
                            <mat-label>Select a security question</mat-label>
                            <mat-select id = "question" formControlName = "question">
                              <mat-option value="q1">Name of your first primary school</mat-option>
                              <mat-option value="q2">Name of your first pet</mat-option>
                              <mat-option value="q3">Name of your hometown</mat-option>
                              <mat-option value="q4">Mother's maiden name</mat-option>
                              <mat-option value="q5">Name of your hometown</mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div>
                    <mat-form-field >
                        <input id="answer" matInput type = "text" maxlength="60" placeholder="Enter answer" formControlName = "answer">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Birthday</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName = "birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <mat-card-actions align = "center">
                          <button id="submitbutton" mat-raised-button color = "warn" (click) = "onSubmit()">Create Account</button>
                      </mat-card-actions>
                  </mat-card-content>
                  
              </form>
            </mat-card>
    </div>
</section>
 