.mat-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;
  }
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
th.mat-header-cell {
    text-align:center;
    font-size: 17px;
    font-weight: 800;
    color: #323232;
}


.reference{
      text-decoration: none;
      color:rgba(0,0,0,.87);
  }

  .inputtext{
    width:615px;
    border: #c3c3c3 1px solid;
    border-radius: 8px 0 0 8px;
    border-right: #c3c3c3 0 solid;
    color: #323232;
    display: block;
    float:left;
    font-size: 16px;
    height: 48px;
    margin:0;
    padding: 0;
    text-indent: 10px;
}
.submitbutton{
    background-color: #f6f6f6;
    border: #c3c3c3 1px solid;
    border-radius: 0 8px 8px 0;
    color: #2e51a2;
    cursor: pointer;
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    width: 70px;
}
