<br/><br/>
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <!-- <div class= "main-div">
      <mat-card fxFlex="600px" fxFlex.xs="100%">
          <mat-card-title align = 'center'>Login</mat-card-title>
            </mat-card>
    </div> -->
    <form>
        <div>
            <div>
                <input class="inputtext" type = "text" placeholder="Search movie">
                <button class = "submitbutton" type="submit">Search</button>
            </div>
        </div>
    </form>
</section>
<br/>
<br/>
<div style="border-bottom: 1px solid black;">
    Genre
</div>
<div class="menu-container">
    <div class="button-container">
             <a class="button1" id= "allmovieslink" (click)="allMovies()" >All Movies</a>
             <a class="button" id="actionMovies" (click)="getAction()" >Action</a>
             <a class="button" id="scifi" (click)="getSciFi()">Sci-Fi</a>
             <a class="button" id="anime" (click)="getAnime()">Anime</a>
             <a class="button" id="family" (click)="getFamily()">Family</a>
             <a class="button"  id="romance" (click)="getRomance()">Romance</a>
             <a class="button" id="adventure" (click)="getAdventure()">Adventure</a>
             <a class="button" id="thriller" (click)="getThriller()">Thriller</a>


    </div>
</div>
