<div class="col-xs-12">
    <div class="row-xs-5">
        <button class="btn btn-success">Get new suggestion</button>
    </div>
</div>
<div class="col-xs-12">
    <div class="row-xs-5">
        <a href="#" class="list-group-item clearfix" 
        *ngFor="let suggest of suggestions" class="col-md-4">
        <hr>
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{suggest.name}}</h4>
                <p class="list-group-item-text">{{suggest.description}}</p>
            </div>
            <span class="pull-right">
                <img [src]="suggest.imagePath" alt="" class="img-responsive" style="max-height: 100px;">
            </span>
        </a>
    </div>
</div>
