<div class="col-xs-12">
    <div class="row-xs-5">
        <button class="btn btn-success">Refresh</button>
    </div>
</div>
<hr>

<div class="col-xs-12">
    <div class="row-xs-10">
        <a href="#" class="list-group-item clearfix" 
        *ngFor="let discuss of discussions" >
            <div class="pull-right">
                <h4 class="list-group-item-heading">{{discuss.name}}</h4>
                <p class="list-group-item-text">{{discuss.description}}</p>
            </div>
            <span class="pull-left">
                <img [src]="discuss.imagePath" alt="" class="img-responsive" style="max-height: 100px;">
            </span>
        </a>
    </div>
</div>
