<section fxLayout="column" fxFlexAlign="stretch">
    <p>In this application we are going to work with:</p>
    <mat-tab-group >
      <mat-tab label="Movies"> 
        <p>We are going to use different material components to create nice looking angular app.</p> 
        <p>it working</p>
        <app-addmovies></app-addmovies>
      </mat-tab>
      <mat-tab label="Discussions">
        <p>We will consume our .NET Core application. Basically, we will create complete CRUD client app.</p>
        <p>it works</p>
        <app-addforums></app-addforums>
      </mat-tab>
    </mat-tab-group>
</section>