.inputtext{
    width:615px;
    border: #c3c3c3 1px solid;
    border-radius: 8px 0 0 8px;
    border-right: #c3c3c3 0 solid;
    color: #323232;
    display: block;
    float:left;
    font-size: 16px;
    height: 48px;
    margin:0;
    padding: 0;
    text-indent: 10px;
}
.submitbutton{
    background-color: #f6f6f6;
    border: #c3c3c3 1px solid;
    border-radius: 0 8px 8px 0;
    color: #2e51a2;
    cursor: pointer;
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    width: 70px;
}

.menu-container{
    padding-top: 10px;
    border-bottom: 1px solid #bebebe;
    display: block;
    
}
.button-container{
    display: block;
    text-align: left;
    height: 25px;
    margin: 5px;
}
.button{
    cursor: pointer;
    margin-right: 8px;
    padding: 12px 0 12px 16px;
    position: relative;
    text-decoration: none;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    padding-right: 20px;
    color:#1d439b;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

