<br/><br/>
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <!-- <div class= "main-div">
      <mat-card fxFlex="600px" fxFlex.xs="100%">
          <mat-card-title align = 'center'>Login</mat-card-title>
            </mat-card>
    </div> -->
    <form>
        <div>
            <div>
                <input class="inputtext" type = "text" placeholder="Search movie">
                <button class = "submitbutton" type="submit">Search</button>
            </div>
        </div>
    </form>
</section>
<br/>
<br/>
<div style="border-bottom: 1px solid black;">
    Genre
</div>
<div class="menu-container">
    <div class="button-container">
             <a href="/displayresults" class="button">All Movies</a>
             <a href="/displayresults" class="button">Action</a>
             <a href="/displayresults" class="button">Sci-Fi</a>
             <a href="displayresults" class="button">Anime</a>
             <a href="displayresults" class="button">Family</a>
             <a href="displayresults" class="button">Romance</a>
    </div>
</div>