<p>findmovies works!</p>

<section fxLayout="row wrap" fxLayoutAlign="center center">
    <!-- <div class= "main-div">
      <mat-card fxFlex="600px" fxFlex.xs="100%">
          <mat-card-title align = 'center'>Login</mat-card-title>
              
            </mat-card>
    </div> -->
    <form>
        <div>
            <div>
                <input class="inputtext" type = "text" placeholder="Search movie">
                <button class = "button" type="submit">Search</button>
            </div>
        </div>
    </form>
  
</section>