.titlename{
    align-items: center;
}
mat-form-field{
    width: 350px;
}
mat-card-title{
    text-align: center;

}
.main-dev{
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.forgotlinks{
    color: #1d439b;
    line-height: 1.5em;
    font-size: 11px;
}
.mat-card{
    border: 0.5em solid #e1e7f5;
}
.signupnow{
    color: #1d439b;
}
.signupbutton{
    background-color: #2e51a2;
    color: #fff;
    border: #2e51a2 2px solid;
    border-radius: 2px;
    display: inline-block;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 8px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 90px
}
.submitbutton{
    border: #2e51a2 2px solid;
    border-radius: 2px;
    display: inline-block;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 8px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
}
.alert{
    color: red;
    line-height: 1.5em;
    font-size: 11px;
}