<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Create a new entry</mat-card-title>
        <form [formGroup]="profileForm" class = "form-container" autocomplete="off"  fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Movie name" formControlName="moviename">
                    <mat-hint align ="end">Not nore than 60</mat-hint>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label >Give Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Give Review</mat-label>
                    <textarea matInput formControlName="review"></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Rating</mat-label>
                    <mat-select formControlName="rating">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                      <mat-option value="5">5</mat-option>
                    </mat-select>
                  </mat-form-field>
                

            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="warn" (click)="onSubmit()">Create</button>
            </mat-card-actions>
        </form>
      </mat-card>
  </section>