<button type="button" class="btn btn-primary active" style="margin:20px">Movie</button>
<button type="button" class="btn btn-primary disabled">Discussions</button>

<form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" id="email" placeholder="Enter Movie Name" name="MovieName" style="width: 30%; margin: 20px;">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter Movie Descripton" name="desc" style="width: 30%; margin: 20px;">
      </div>
      <div class="form-group" style="width: 30%; margin: 20px;">
        <select class="form-control" id="sel1">
          <option>Select Genre</option>
          <option>Action</option>
          <option>Sci-Fi</option>
          <option>Batman</option>
        </select>
      </div>
      <div class="form-group" style="width: 30%; margin: 20px;">
        <select class="form-control" id="sel1">
          <option>Language</option>
          <option>Englis</option>
          
        </select>
      </div>
      <input type="submit" class="btn btn-info" value="Submit Button" style="margin-left: 150px; margin-bottom: 20px;">

    </div>
    
  </form>